.main{
    display: flex;
    justify-content: center;
    text-align: center;
    .student{
        flex: 0.6;
        color: white;
        text-align: left;
        padding-left: 20px;
        padding-top: 20px;
        background-image: linear-gradient(#B91372, #6B0F1A);
        .text {
            width: 100%;
            margin: 0 auto 0 auto;
            font-family: 'Lato', sans-serif;
        
            font-size: 1rem;
  
            text-align: center;
            text-transform: uppercase;
            text-rendering: optimizeLegibility;
        }
        .back{
            border-radius: 10px;
            min-width: 150px;
            min-height: 35px;
            font-size: 16px;
            cursor: pointer;
        }
        .back:hover{
            background-color: gray;
            border-radius: 10px;
            min-width: 200px;
            min-height: 35px;
            font-size: 18px;
        }
        .delButton{
           
            margin-top: 50px;
            margin-left: 50px;    
            button{background-color: rgb(231, 62, 62);
                border-radius: 10px;
                cursor: pointer;}
             button:hover{
                background-color: rgb(230, 16, 16);

             }
   

    }    
            }
    
    .grades{
        flex:3;
      
    }
    .imgDiv{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        img{
            width: 180px;
            height: 180px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .grades{
        display: flex;
        flex-direction: row;
        
       
        .insertGrade{
            display: flex;
            flex-direction: column;
            justify-content: left;
            flex : 0.5;
            margin-left: 10px;
            padding-top: 20px;
            padding-left: 15px;
            padding-right: 15px;
            background-image: linear-gradient(#F5F7FA,#B8C6DB);
            .label{
                text-align: left;
                font-size: 18px;
                border-radius: 10px;
            }
            .select{
                text-align: left;
                height: 18px;  
                border-radius: 10px; 
                select{
                    padding: 10px;
                    border-radius: 10px; 

                } 
            }
            .note{   
                margin-top: 80px;
                text-align: left;
                font-size: 18px;

            }
            .text{
                border-radius: 10px;
                textarea{
                  padding: 10px;
                  height: 150px;      
                    border-radius: 10px; 
                }
            .savegrade{
                button{
                    background-color:lightblue;
                    border-radius: 10px;
                    min-width: 200px;
                    min-height: 35px;
                    font-size: 18px;
                    cursor: pointer;
                }
                button:hover{
                    background-color: rgb(127, 187, 207);
                    border-radius: 10px;
                    min-width: 200px;
                    min-height: 35px;
                    font-size: 18px;
                }
            }
            }

        }

    .GradesArray{
        justify-content: space-around;
        flex-grow: 1;
        margin-left: 10px;
        padding: 10px;
        background-image: linear-gradient(#F5F7FA,#B8C6DB);
        
        table{
            width: 100%;
            border: 1px solid black;
         }
         th {
            height: 70px;
            border: 1px solid black;
          }
          td {
            height: 70px;
            border: 1px solid black;
         
            .buttons{
              
                display: flex;
                flex-direction: column;
                justify-content: column;
                align-items: center;
                    .update{
                        background-color: lightblue;
                        width: 80px;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                    .update:hover{
                        background-color: rgb(127, 187, 207);
                    }
                    .delete{
                        margin-top: 5px;
                        background-color: rgb(209, 59, 59);
                        width: 80px;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                    .delete:hover{
                        background-color: red;
                    }
                    .cancel{
                        margin-top: 5px;
                        background-color: gray;
                        width: 80px;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                    .cancel:hover{
                        background-color:rgb(193, 186, 186);
                    }
                    .save{
                        margin-top: 5px;
                        background-color: rgb(57, 211, 57);
                        width: 80px;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                    .save:hover{
                        background-color:lightgreen;
                    }
              }
    
    
        }

     } .grade1{
        font-size: 18px;
        font-weight: bold;
     }

    


    }


}
